/* This is acommend */

:root {
  --main-color: gainsboro;
}

:root {
  --main-font:'Roboto', sans-serif;
}

#landingpage {
    /*background-image: url("p.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;*/
    overflow: scroll;
        
}

iframe {
    margin: 0 auto;
    background-color: #777;
    display:block;
}


#landingpage1 {
    overflow: scroll;
        
}


#header {
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: center;
    font-weight: 2000;
    
}

#header2 {
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: center;
    font-weight: 2000;
    
}

#SponsorsHeader {
    font-family: var(--main-font);
    font-size: 25pt;
    color: black;
    text-align: center;
    font-weight: 2500;
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;
    column-rule: 1px solid lightblue;
  
}

#SponsorsHeaderCompany {
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: center;
    font-weight: 2500;
    column-span: all;
}

#SponsLevel {
    font-family: var(--main-font);
    font-size: 25pt;
    color: black;
    text-align: center;
    font-weight: 2500;
  
}

#header-text{
    height:100px;
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: center;
    font-weight: 2000;
   
 }

#SponsorsHeaderDescrip {
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: left;
    font-weight: 2500;

  
}

#SponsorsHeaderLogo {
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: center;
    font-weight: 2500;

  
}

#Sponsors {
    font-family: var(--main-font);
    font-size: 5pt;
    color: black;
    text-align: center;
    font-weight: 2500;
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;
    column-rule: 1px solid lightblue;
  
}

#author {
    font-family: var(--main-font);    
    font-size: 12pt;
    color: black;
    text-align: center;  
    width: 50%;
    display: inline-block;
    font-style: normal;
    
}

#UCDAVIS {
    text-align: center;
    
}

#text {
    font-family: var(--main-font);    
    font-size: 11pt;
    color: black;
    text-align: left;  
    width: 50%;
    display: inline-block;
}

#text2 {
    font-family: var(--main-font);    
    font-size: 11pt;
    color: black;
    text-align: left;  
    width: 100%;
    display: inline;
}

#text3 {
    font-family: var(--main-font);    
    font-size: 11pt;
    color: black;
    text-align: left;  
    width: 10%;
    display: inline;
}

#textHWLIST {
    padding: 0px;
  list-style-type: armenian;
  display: block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
    font-weight: 100;
}

#text_poem {
    font-family: var(--main-font);    
    font-size: 12pt;
    color: black;
    text-align: center;  
    width: 100%;
    display: inline-block;
    font-style: italic;

    
}

#wrapper1 {
    text-align: center;
    width: 60%;
    margin: auto;
}

#bio pictures {
    
    text-align: center;
    width: 1000px;
    margin: auto;
    border: 1px solid #73AD21;
    align-content: center;
    margin: auto;
}


.flex-container {
  display: flex;
    width: 90%;
    justify-content: flex-start;
  align-items: center;
}



/* navbar */
    
nav {
  font-family: var(--main-font);  
  font-size: 50px;
  text-align: center;
  
}
ul {
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.courses {
  padding: 0px;
  display: block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
    font-weight: 100;
}

.courses2 {
  padding-left: 10%;
  list-style-type: armenian;
  list-style-position: inside;
  display: inline-block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
  font-weight: 100;
  text-align: left;
    width: 100%;
}

.courses3 {
  padding: 10px;
  list-style-type: armenian;
  list-style-position: inside;
  display: inline-block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
  font-weight: 100;
  text-align: center;
    width: 100%;
}

article {
  float: center;
  padding-left: 0%;
  width: 70%;
  background-color: white;
  height: 300px; /* only for demonstration, should be removed */
    margin-left: auto;
margin-right: auto;
    font-family: var(--main-font);
  font-size: 11pt;
}


.quick facts {
  padding: 0px;
  list-style-type: armenian;
  display: block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
    font-weight: 100;
}

.Homeworks {
  padding: 0px;
  list-style-type: armenian;
  display: block;
  font-family: var(--main-font);
  font-size: 15pt;
  font-style: normal;
    font-weight: 100;
}

.interests {
  padding: 0px;
  list-style-type: armenian;
  display: block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
  font-weight: 100;
  text-align: center;
      
}



li {
  display: inline-block;
}
li a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
    
}



li a:hover, nav li a:active {
  font-weight:bold;
}


.column {
  text-align: center;
  float: left;
  width: 33.33%;
}
.column2 {
  text-align: left;
  float: center;
  width: 33.33%;
  padding-left: 10%;
    
}

.column_sem {
  text-align: center;
  float: left;
  width: 50%;
}

.column_sem_JC {
  text-align: center;
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  font-family: var(--main-font);
  text-align: center;
  content: "";
  display: table;
  clear: both;
  line-height: 10px;
}

#courseheader {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 15pt;
    padding: 0px 0px;

}

.BlogList {
  font-family: var(--main-font);
  text-align: center;
  content: "";
  display: table;
  clear: both;
  line-height: 10px;
  align-content: center;
  text-align: center;
  width: 100%;
}

#QuickFacts {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 15pt;
    padding: 0px 0px;

}
#courseheader_semester {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 15pt;

}

#courseheader_semester_JC {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 15pt;

}

#coursework {
    font-family: var(--main-font);
    font-weight: bolder;

}

/* STUFF BELOW HERE IS FOR THE MEET THE TEAM PAGE 

 /* Three columns side by side */
.column_meet_the_team {
  text-align: center;
  float: left;
  width: 20%;
  display: inline-block;
}

.row_meet_the_team {
    display: inline-block;
}

 Display the columns below each other instead of side by side on small screens 
@media screen and (max-width: 650px) {
  .column_meet_the_team {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
