/* This is acommend */

:root {
  --main-color: gainsboro;
}

:root {
  --main-font:'Roboto', sans-serif;
}

#landingpage {
    /*background-image: url("p.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;*/
    overflow: scroll;
        
}

iframe {
    margin: 0 auto;
    background-color: #777;
    display:block;
}


#landingpage1 {
    overflow: scroll;
        
}


#header {
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: center;
    font-weight: 2000;
    
}

#header2 {
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: center;
    font-weight: 2000;
    
}

#SponsorsHeader {
    font-family: var(--main-font);
    font-size: 25pt;
    color: black;
    text-align: center;
    font-weight: 2500;
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;
    column-rule: 1px solid lightblue;
  
}

#SponsorsHeaderCompany {
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: center;
    font-weight: 2500;
    column-span: all;
}

#SponsLevel {
    font-family: var(--main-font);
    font-size: 25pt;
    color: black;
    text-align: center;
    font-weight: 2500;
  
}

#header-text{
    height:100px;
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: center;
    font-weight: 2000;
   
 }

#SponsorsHeaderDescrip {
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: left;
    font-weight: 2500;

  
}

#SponsorsHeaderLogo {
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: center;
    font-weight: 2500;

  
}

#Sponsors {
    font-family: var(--main-font);
    font-size: 5pt;
    color: black;
    text-align: center;
    font-weight: 2500;
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;
    column-rule: 1px solid lightblue;
  
}

#author {
    font-family: var(--main-font);    
    font-size: 12pt;
    color: black;
    text-align: center;  
    width: 50%;
    display: inline-block;
    font-style: normal;
    
}

#UCDAVIS {
    text-align: center;
    
}

#text {
    font-family: var(--main-font);    
    font-size: 11pt;
    color: black;
    text-align: left;  
    width: 50%;
    display: inline-block;
}

#text2 {
    font-family: var(--main-font);    
    font-size: 11pt;
    color: black;
    text-align: left;  
    width: 100%;
    display: inline;
}

#text3 {
    font-family: var(--main-font);    
    font-size: 11pt;
    color: black;
    text-align: left;  
    width: 10%;
    display: inline;
}

#textHWLIST {
    padding: 0px;
  list-style-type: armenian;
  display: block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
    font-weight: 100;
}

#text_poem {
    font-family: var(--main-font);    
    font-size: 12pt;
    color: black;
    text-align: center;  
    width: 100%;
    display: inline-block;
    font-style: italic;

    
}

#wrapper1 {
    text-align: center;
    width: 60%;
    margin: auto;
}

#bio pictures {
    
    text-align: center;
    width: 1000px;
    margin: auto;
    border: 1px solid #73AD21;
    align-content: center;
    margin: auto;
}


.flex-container {
  display: flex;
    width: 90%;
    justify-content: flex-start;
  align-items: center;
}



/* navbar */
    
nav {
  font-family: var(--main-font);  
  font-size: 50px;
  text-align: center;
  
}

/* Dropdown Button */
.dropbtn {
  background-color: #000000;
  color: black;
  padding: 16px;
  font-size: 50px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

ul {
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.courses {
  padding: 0px;
  display: block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
    font-weight: 100;
}

.courses2 {
  padding-left: 10%;
  list-style-type: armenian;
  list-style-position: inside;
  display: inline-block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
  font-weight: 100;
  text-align: left;
    width: 100%;
}

.courses3 {
  padding: 10px;
  list-style-type: armenian;
  list-style-position: inside;
  display: inline-block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
  font-weight: 100;
  text-align: center;
    width: 100%;
}

article {
  float: center;
  padding-left: 0%;
  width: 70%;
  background-color: white;
  height: 300px; /* only for demonstration, should be removed */
    margin-left: auto;
margin-right: auto;
    font-family: var(--main-font);
  font-size: 11pt;
}


.quick facts {
  padding: 0px;
  list-style-type: armenian;
  display: block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
    font-weight: 100;
}

.Homeworks {
  padding: 0px;
  list-style-type: armenian;
  display: block;
  font-family: var(--main-font);
  font-size: 15pt;
  font-style: normal;
    font-weight: 100;
}

.interests {
  padding: 0px;
  list-style-type: armenian;
  display: block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
  font-weight: 100;
  text-align: center;
      
}



li {
  display: inline-block;
}
li a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
    
}



li a:hover, nav li a:active {
  font-weight:bold;
}


.column {
  text-align: center;
  float: left;
  width: 33.33%;
}
.column2 {
  text-align: left;
  float: center;
  width: 33.33%;
  padding-left: 10%;
    
}

.column_sem {
  text-align: center;
  float: left;
  width: 50%;
}

.column_sem_JC {
  text-align: center;
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  font-family: var(--main-font);
  text-align: center;
  content: "";
  display: table;
  clear: both;
  line-height: 10px;
}

#courseheader {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 15pt;
    padding: 0px 0px;

}

.BlogList {
  font-family: var(--main-font);
  text-align: center;
  content: "";
  display: table;
  clear: both;
  line-height: 10px;
  align-content: center;
  text-align: center;
  width: 100%;
}

#QuickFacts {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 15pt;
    padding: 0px 0px;

}
#courseheader_semester {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 15pt;

}

#courseheader_semester_JC {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 15pt;

}

#coursework {
    font-family: var(--main-font);
    font-weight: bolder;

}


body {
    font-family: var(--main-font);
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-align: center;
}
.heading-title {
    margin-bottom: 100px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.team-member {
    overflow: visible;
    text-align: center;
}

.team-img {
    text-align: center;
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}
